@import './_reset', './_font', './_mixin';

html,
body,
#root {
    height: 100%;
}

body {
    background-color: #fff;
    // font-family: 'JetBrains Mono', ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif,
    //     'Segoe UI Emoji', 'Segoe UI Symbol', 'Nanum Gothic';
    font-family: 'Pretendard-Regular';
    color: #333;

    #root {
        width: 100%;
    }
}
body::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: rgb(207, 255, 221); /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgb(38, 195, 158); /*스크롤바 뒷 배경 색상*/
}

.hidden {
    display: none !important;
}

#root {
    @include centerAlign();
}
.App {
    position: relative;
    overflow: hidden;
    width: 1093px;
    & > * {
        float: left;
    }
    .txt_view {
        overflow: hidden;
        position: absolute;
        width: 693px;
        font-size: 30px;
        z-index: 1;
        li {
            float: left;
            width: 50%;
            height: 60px;
            @include centerAlign();
            &:first-child {
                background-color: #dfdfdf;
                cursor: pointer;
            }
        }
    }
    .formation {
        width: 693px;
        height: 1060px;
        &.fm_433 {
            li {
                border: 8px solid red;
                &:nth-child(n + 4) {
                    border: 8px solid blue;
                }
                &:nth-child(n + 7) {
                    border: 8px solid green;
                }
                &:last-child {
                    border: 8px solid yellow;
                }
            }
        }
        .field {
            width: 100%;
            height: 100%;
            background: url('../../public/assets/images/img_field.png') no-repeat 0 0;
            opacity: 0.4;
        }
        .position {
            position: relative;
            li {
                position: absolute;
                width: 100px;
                height: 100px;
                border-radius: 100%;
                cursor: pointer;
                z-index: 1;
                @include formation(
                    130px,
                    120px,
                    // 0
                    130px,
                    300px,
                    // 1
                    130px,
                    480px,
                    // 2
                    480px,
                    120px,
                    // 3
                    480px,
                    305px,
                    // 4
                    480px,
                    480px,
                    // 5
                    780px,
                    520px,
                    // 6
                    780px,
                    380px,
                    // 7
                    780px,
                    230px,
                    // 8
                    780px,
                    80px,
                    // 9
                    920px,
                    300px // 10
                );
                .thume {
                    @include centerAlign();
                    img {
                        width: 80px;
                    }
                }
                .name {
                    background: red;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
    .total_list {
        width: 400px;
        padding: 10px 20px;
        background: #c9e3b9;
        font-size: 20px;
    }
    .player_list {
        overflow-y: auto;
        width: 400px;
        height: 1017px;
        background: #c9e3b9;
        li {
            overflow: hidden;
            padding: 20px;
            text-align: left;
            margin-bottom: 20px;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
            & > * {
                float: left;
            }
            &.nation0 {
                @include nation('../../public/assets/images/flag/Germany.png');
            }
            &.nation1 {
                @include nation('../../public/assets/images/flag/France.png');
            }
            &.nation2 {
                @include nation('../../public/assets/images/flag/England.png');
            }
            &.nation3 {
                @include nation('../../public/assets/images/flag/Portugal.png');
            }
            &.nation4 {
                @include nation('../../public/assets/images/flag/Italy.png');
            }
            &.nation5 {
                @include nation('../../public/assets/images/flag/Spain.png');
            }
            &.nation6 {
                @include nation('../../public/assets/images/flag/Netherlands.png');
            }
            &.nation7 {
                @include nation('../../public/assets/images/flag/Belgium.png');
            }
            &.nation8 {
                @include nation('../../public/assets/images/flag/Norway.png');
            }
            &.nation9 {
                @include nation('../../public/assets/images/flag/Sweden.png');
            }
            &.nation10 {
                @include nation('../../public/assets/images/flag/Croatia.png');
            }
            &.nation11 {
                @include nation('../../public/assets/images/flag/Brazil.png');
            }
            &.nation12 {
                @include nation('../../public/assets/images/flag/Argentina.png');
            }
            &.nation13 {
                @include nation('../../public/assets/images/flag/Uruguay.png');
            }
            &.nation14 {
                @include nation('../../public/assets/images/flag/korea.png');
            }
            .thume {
                width: 100px;
                margin-right: 20px;
                img {
                    width: 100%;
                }
                &.legend {
                    background: #c5bf00;
                    img {
                        box-shadow: 0px 0px 24px #c5bf00;
                    }
                }
            }
            dl {
                dt {
                    width: 100%;
                    padding: 6px;
                    background: #fff;
                }
                dd {
                    padding: 6px;
                    background: #fff;
                    &.legend {
                        text-shadow: #fc0 1px 0 10px;
                        color: #ff9b00;
                    }
                }
            }
        }
    }
}
